body
{
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.80em;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    width: 740px;
    display: block;
    margin: 0px auto;
}

a, a:link, a:active
{
    text-decoration: none;
    color: #00709f;
}

a:visited
{
    color: #03697a;
}

a:hover
{
    color: #3390b1;
}

a.button{
    height:16px;
    line-height:16px;
    margin-bottom:14px;
    text-indent:24px;
}

.email{
    background:url(images/email.png) no-repeat;
    display:block;
}

.facebook{
    background:url(images/facebook.png) no-repeat;
    display:block;
}

.github{
    background: url(images/github.png) no-repeat;
    display: block;
}

.googleplus{
    background:url(images/googleplus.png) no-repeat;
    display:block;
}

.lanyrd{
    background: url(images/lanyrd.png) no-repeat;
    display: block;
}

.linked-in{
    background:url(images/linked-in.png) no-repeat;
    display:block;
}

.microsoft-mvp{
    background:url(images/microsoft-mvp.png) no-repeat;
    display:block;
}

.pluralsight{
    background:url(images/pluralsight.png) no-repeat;
    display:block;
}

.rstudio{
    background: url(images/rstudio.png) no-repeat;
    display: block;
}

.stack-overflow{
    background: url(images/stack-overflow.png) no-repeat;
    display: block;
}

.twitter{
    background: url(images/twitter.png) no-repeat;
    display: block;
}

.youtube{
    background: url(images/youtube.png) no-repeat;
    display: block;
}

.wikipedia {
    background: url(images/wikipedia.png) no-repeat;
    display: block;
}

strong, b
{
    font-weight: bold;    
}

h1, h2, h3
{
    font-family: 'Segoe UI Light', 'Segoe UI', 'Lucida Grande' ,Verdana, Arial, Helvetica, sans-serif;
    color: #707070;
}

header
{
    display: block;
    height: 56px;
}

body header 
{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DBDBDB;    
}

header h1
{
    font-size: 24px;
    font-weight: 100;
    float: left;
}

nav
{
    height: 56px;
    float: right;
}

nav ul
{
    list-style-type: none;
    margin-top: 18px;
    padding: 0;
    vertical-align: middle;
}

nav ul li
{
    display: inline;
}

nav ul li a, 
nav ul li a:link, 
nav ul li a:active
nav ul li a:visited
{
    color: #707070;
    text-decoration: none;
    padding-right: 10px;
}

nav ul li a:hover
{
    color: #2a2a2a
}

blockquote 
{
    border-left: 4px solid #3390b1;
    color: #3390b1;
    font-style: italic;
    margin: 30px 0 30px 15px;
    padding-left: 15px;
}

article
{
    display: block;
    min-height: 96px;
    padding-top: 16px;
    padding-bottom: 16px;      
}

article.news,
article.article 
{
    width: 530px;
}

article.news section
{
    height: 112px;
}

article header
{
    height: 32px;
    border-bottom: none;
}

article header h1
{
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 30px;
    color: #5f5e5c;
    border-bottom: none;
    float: none;
}

article h1
{
    font-size: 1.6em;
    padding-bottom: 4px;
    margin-bottom: 14px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DBDBDB;
}

article h2
{
    font-size: 18px;
    padding-bottom: 4px;
    margin-bottom: 0px;
}

article h3
{
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;   
}

article img
{
    display: inline;    
    border: none;
    max-width: 740px;
}

article img.float-right
{
    display: inline;
    float: right;    
    border: none;
    max-width: 740px;
}

article.news img.thumbnail,
article.articles img.thumbnail
{
    display: inline;
    float: right;
    width: 96px;
    margin: 4px;
    border: none;    
}

article.software img.thumbnail,
article.presentations img.thumbnail,
article.webinars img.thumbnail
{
    display: inline;
    float: right;
    height: 128px;
    margin: 4px;
    border: none;    
}

article.articles section 
{
    min-height: 100px;
    padding-top: 8px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;    
}

article.events section,
article.presentations section,
article.webinars section
{
    min-height: 100px;
    padding-top: 8px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;
}

article.software section 
{
    min-height: 132px;
    padding-top: 8px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;    
}

article h1.resume
{
    font-size: 1.6em;
    padding-bottom: 4px;
    margin-bottom: 14px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DBDBDB;
}

article section.resume
{
    min-height: 132px;
    padding-top: 0px;
    border: none;  
}

ul.resume 
{
    margin-top: 0px;    
}

article section h2 
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
}

article section ul 
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
}

aside
{
    float: right;
    width: 180px;
    height: 100%;

    padding: 16px;
    text-align: center;
    display: block;
}

aside img
{
    width: 168px;
}

aside figure
{
    text-align: left;
    margin: 0px;
}

aside figcaption 
{
    width: 168px;
}

table
{
    width: 100%;    
}

th 
{
    color: #707070;
    text-align: left;    
}

td.center 
{
    text-align: center;    
}

hr
{
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

footer
{
    clear: both;
    display: block;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DBDBDB;
    color: #707070;
}