<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>-->
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="home.html"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
        <rewrite>
        <rules>
            <rule name="Redirect Home" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/home.html" />
                <action type="Redirect" url="/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect About" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/about.html" />
                <action type="Redirect" url="/about/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Articles" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/articles.html" />
                <action type="Redirect" url="/articles/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Contact" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/contact.html" />
                <action type="Redirect" url="/contact/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Courses" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/courses.html" />
                <action type="Redirect" url="/courses/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Events" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/events.html" />
                <action type="Redirect" url="/events/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect News" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/news.html" />
                <action type="Redirect" url="/news/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Presentations" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/presentations.html" />
                <action type="Redirect" url="/presentations/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Software" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/software.html" />
                <action type="Redirect" url="/software/" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Workshops" patternSyntax="Wildcard" stopProcessing="true">
                <match url="/workshops.html" />
                <action type="Redirect" url="/workshops/" redirectType="Permanent" />
            </rule>              
        </rules>
    </rewrite>
    <staticContent>
      <!-- This is necessary for Let's Encrypt SSL challenge -->
      <mimeMap fileExtension="." mimeType="text/xml" />
    </staticContent>
  </system.webServer>
</configuration>